#social{
    background:white;
    padding:25px;
    border-radius:12px;
    text-align:center;
    box-shadow:0 5px 15px rgba(0,0,0,.1);
}


#social a{
    display:inline-block;
    text-decoration:none;
    color:white;
    background:#2563eb;
    padding:12px 25px;
    margin:8px;
    border-radius:25px;
    transition:.3s;
}

#social a:hover{
    background:#1d4ed8;
    transform:scale(1.05);
}